<div class="container">
  <h1>Registration Form</h1>

  <hr>

  <div class="col-md-6">

    <form [formGroup]="signUpForm" (ngSubmit)="signUpUser(signUpForm.value)" autocomplete="off">
      <div class="form-group">
        <label for="firstName">*First Name:</label>
        <em *ngIf="!validate(firstName) &&
            firstName.errors.required">Required</em>
        <em *ngIf="!validate(firstName) &&
            firstName.errors.pattern">Must start with a letter</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name" />
      </div>
      <div class="form-group" >
        <label for="lastName">*Last Name:</label>
        <em *ngIf="!validate(lastName) &&
            lastName.errors.required">Required</em>
        <em *ngIf="!validate(lastName) &&
            lastName.errors.pattern">Must start with a letter</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name" />
      </div>
      <div class="form-group" >
        <label for="otherName">Other Name:</label>
        <em *ngIf="!validate(otherName) &&
            otherName.errors.pattern">Must start with a letter</em>
        <input formControlName="otherName" id="otherName" type="text" class="form-control" placeholder="Other Name" />
      </div>
      <div class="form-group">
        <label for="gender">*Gender</label>
        <em *ngIf="!validate(gender) &&
            gender.errors.required">Required</em>
        <select formControlName="gender" class="custom-select" id="gender">
          <option value="" selected disabled>Please select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group" >
        <label for="phoneNumber">*Phone Number:</label>
        <em *ngIf="!validate(phoneNumber) &&
            phoneNumber.errors.required">Required</em>
        <em *ngIf="!validate(phoneNumber) &&
            phoneNumber.errors.pattern">Must be a number</em>
        <input formControlName="phoneNumber" id="phoneNumber" type="text" class="form-control" placeholder="Phone Number" />
      </div>
      <div class="form-group" >
        <label for="email">*Email:</label>
        <em *ngIf="!validate(email) &&
            email.errors.required">Required</em>
        <em *ngIf="!validate(email) &&
            email.errors.email">Must be a valid email</em>
        <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email" />
      </div>
      <div class="form-group" >
        <label for="password">*Password:</label>
        <em *ngIf="!validate(password) &&
            password.errors.required">Required</em>
        <em *ngIf="(!validate(password) && !password.hasError('required')) &&
            (
            password.errors.invalidLength ||
            password.errors.noLowerCase ||
            password.errors.noUpperCase ||
            password.errors.noNumber ||
            password.errors.noSymbol
            )">Must be a valid password</em>
        <input formControlName="password" id="password" type="password" class="form-control" placeholder="Password" />
      </div>
      <div class="form-group" >
        <label for="confirmPassword">*Confirm Password:</label>
        <em *ngIf="validateConfirmPassword()">Must match password field</em>
        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
      </div>

      <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
