<div class="container">
  <h1>Registration Form</h1>

  <hr>

  <div class="col-md-6">

    <form [formGroup]="signUpForm" (ngSubmit)="signUpUser(signUpForm.value)" autocomplete="off">
      <div class="form-group">
        <label for="firstName">*First Name:</label>
        <em *ngIf="!validateFirstName() &&
            firstName.errors.required">Required</em>
        <em *ngIf="!validateFirstName() &&
            firstName.errors.pattern">Must start with a letter</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name" />
      </div>
      <div class="form-group" >
        <label for="lastName">*Last Name:</label>
        <em *ngIf="!validateLastName() &&
            lastName.errors.required">Required</em>
        <em *ngIf="!validateLastName() &&
            lastName.errors.pattern">Must start with a letter</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name" />
      </div>
      <div class="form-group" >
        <label for="otherName">Other Name:</label>
        <em *ngIf="!validateOtherName() &&
            otherName.errors.pattern">Must start with a letter</em>
        <input formControlName="otherName" id="otherName" type="text" class="form-control" placeholder="Other Name" />
      </div>
      <div class="form-group" >
        <label for="phoneNumber">*Phone Number:</label>
        <em *ngIf="!validatePhoneNumber() &&
            phoneNumber.errors.required">Required</em>
        <em *ngIf="!validatePhoneNumber() &&
            phoneNumber.errors.pattern">Must be a number</em>
        <input formControlName="phoneNumber" id="phoneNumber" type="text" class="form-control" placeholder="Phone Number" />
      </div>
      <div class="form-group" >
        <label for="email">*Email:</label>
        <em *ngIf="!validateEmail() &&
            email.errors.required">Required</em>
        <em *ngIf="!validateEmail() &&
            email.errors.email">Must be a valid email</em>
        <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email" />
      </div>
      <div class="form-group" >
        <label for="password">*Password:</label>
        <em *ngIf="!validatePassword() &&
            password.errors.required">Required</em>
        <em *ngIf="!validatePassword() &&
            password.errors.invalidLength">Must be up to 8 characters</em>
        <em *ngIf="!validatePassword() &&
            password.errors.noLowerCase">Must contain a lowercase letter</em>
        <em *ngIf="!validatePassword() &&
            password.errors.noUpperCase">Must contain an uppercase letter</em>
        <em *ngIf="!validatePassword() &&
            password.errors.noNumber">Must contain a number</em>
        <em *ngIf="!validatePassword() &&
            password.errors.noSymbol">Must contain a symbol</em>
        <input formControlName="password" id="password" type="password" class="form-control" placeholder="Password" />
      </div>
      <div class="form-group" >
        <label for="confirmPassword">*Confirm Password:</label>
        <em *ngIf="!validateConfirmPassword() &&
            password.errors">Must be a valid password</em>
        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
      </div>

      <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
