<div class="container">

      <h2>User Details</h2>
  <hr>

    <table class="table table-bordered">
      <tr>
        <th scope="row">First Name:</th>
        <td>{{user.firstName}}</td>
      </tr>
      <tr>
        <th scope="row">Last Name:</th>
        <td>{{user.lastName}}</td>
      </tr>
      <tr>
        <th scope="row">Other Name:</th>
        <td>{{user?.otherName}}</td>
      </tr>
      <tr>
        <th scope="row">Gender:</th>
        <td>{{user.gender}}</td>
      </tr>
      <tr>
        <th scope="row">Phone Number:</th>
        <td>{{user.phoneNumber}}</td>
      </tr>
      <tr>
        <th scope="row">Email:</th>
        <td>{{user.email}}</td>
      </tr>
    </table>
  </div>
